<div class="container px-32 p-4 mx-auto">
    <div class="w-full border-2 border-[#101010] bg-[#090909] px-4 py-2 rounded-lg shadow-lg">
        <div class="flex items-center justify-between">
            <div>
               
            </div>

                </a>
                <a href="" target="_blank" class="transition-all duriation-150 text-gray-400 hover:text-white font-medium">
                    Download (For Windows)
                </a>
            </div>
        </div>
    </div>
</div>